<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <link rel="stylesheet" href="/css/styles.css"> <!-- Correct path for CSS -->
</head>
<body>
    <header>
        <h1 id="clickableText" class="clickable">NETFLIX</h1>
        <p>WATCH THE LATEST MOVIES AND TV SHOWS</p>
    </header>
    <nav>
        <a href="home">Home</a>
        <a href="movies">Movies</a>
        <a href="shows">TV Shows</a>
        <a href="about">About</a>

    </nav>
    <div class="about-section">
        <h5>About Me</h5>
        <br>
        <h6>Hi my name is Motasim Abuhalima, and this is my project 
            for the Intro to web programming class(ESOF317), 
            which is bassically movie streaming service 50+ 
            assets used for this project <br><br><br></h6>
            <a href="https://github.com/mxtasim" style="color: #e8d3c2;">GITHUB</a><br><br><br>
            <h6>Student ID 20212022107</h6>

    </div>
    <script src="script.js"></script>
</body>
</html>
