<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>movies</title>
    <link rel="stylesheet" href="/css/styles.css"> <!-- Correct path for CSS -->
</head>
<body>
    <header>
        <h1 id="clickableText" class="clickable">NETFLIX</h1>
        <p>WATCH THE LATEST MOVIES AND TV SHOWS</p>
    </header>
    <nav>
        <a href="home">Home</a>
        <a href="movies">Movies</a>
        <a href="shows">TV Shows</a>
        <a href="about">About</a>

    </nav>
    <h4>TOP 50 MOVIES</h4>
    <section>
        <div class="mostwatched">
            <a href="player.html">
            <img src="Assets/most-watched/scarface.jpg" alt="Image 1"></a>
        </div>
        <div class="mostwatched">
            <a href="player.html">
            <img src="Assets/most-watched/the-walking-dead.jpg" alt="Image 2"></a>
        </div>
        <div class="mostwatched">
            <a href="player.html">
            <img src="Assets/most-watched/spiderman.jpg" alt="Image 3"></a>
        </div>
        <div class="mostwatched">
            <a href="player.html">
            <img src="Assets/most-watched/fast1.jpg" alt="Image 4"></a>
        </div>
        <div class="mostwatched">
            <a href="player.html">
            <img src="Assets/most-watched/breaking-bad.jpg" alt="Image 5"></a>
        </div>
        <div class="mostwatched">
            <a href="player.html">
            <img src="Assets/most-watched/bohemian.jpg" alt="Image 6"></a>
        </div>
        <div class="mostwatched">
            <a href="player.html">
            <img src="Assets/most-watched/blacklist.jpg" alt="Image 7"></a>
        </div>
        <div class="mostwatched">
            <a href="player.html">
            <img src="Assets/most-watched/transporter.jpg" alt="Image 8"></a>
        </div>
    </section>
    <section>
        <div class="trending">
            <a href="player.html">
            <img src="Assets/trending/escape-plan.jpg" alt="Image 1"></a>
        </div>
        <div class="trending">
            <a href="player.html">
            <img src="Assets/trending/extraction.jpg" alt="Image 2"></a>
        </div>
        <div class="trending">
            <a href="player.html">
            <img src="Assets/trending/fast7.jpg" alt="Image 3"></a>
        </div>
        <div class="trending">
            <a href="player.html">
            <img src="Assets/trending/friends.jpg" alt="Image 4"></a>
        </div>
        <div class="trending">
            <a href="player.html">
            <img src="Assets/trending/karate-kid.jpg" alt="Image 5"></a>
        </div>
        <div class="trending">
            <a href="player.html">
            <img src="Assets/trending/in-time.jpg" alt="Image 6"></a>
        </div>
        <div class="trending">
            <a href="player.html">
            <img src="Assets/trending/pablo-escobar.jpg" alt="Image 7"></a>
        </div>
        <div class="trending">
            <a href="player.html">
            <img src="Assets/trending/suits.jpg" alt="Image 8"></a>
        </div>
    </section>
    <section>
        <div class="action">
            <a href="player.html">
            <img src="Assets/action/gemini-man.jpg" alt="Image 1"></a>
        </div>
        <div class="action">
            <a href="player.html">
            <img src="Assets/action/jack-reacher.jpg" alt="Image 2"></a>
        </div>
        <div class="action">
            <a href="player.html">
            <img src="Assets/action/lucy.jpg" alt="Image 3"></a>
        </div>
        <div class="action">
            <a href="player.html">
            <img src="Assets/action/noah.jpg" alt="Image 4"></a>
        </div>
        <div class="action">
            <a href="player.html">
            <img src="Assets/action/polar.jpg" alt="Image 5"></a>
        </div>
        <div class="action">
            <a href="player.html">
            <img src="Assets/action/the-gray-man.jpg" alt="Image 6"></a>
        </div>
        <div class="action">
            <a href="player.html">
            <img src="Assets/action/transformers.jpg" alt="Image 7"></a>
        </div>
        <div class="action">
            <a href="player.html">
            <img src="Assets/action/triple-fronter.jpg" alt="Image 8"></a>
        </div>
    </section>
    <section>
        <div class="comedy">
            <a href="player.html">
            <img src="Assets/comedy/bad-trip.jpg" alt="Image 1"></a>
        </div>
        <div class="comedy">
            <a href="player.html">
            <img src="Assets/comedy/dictator.jpg" alt="Image 2"></a>
        </div>
        <div class="comedy">
            <a href="player.html">
            <img src="Assets/comedy/jackass-forever.jpg" alt="Image 3"></a>
        </div>
        <div class="comedy">
            <a href="player.html">
            <img src="Assets/comedy/little-man.jpg" alt="Image 4"></a>
        </div>
        <div class="comedy">
            <a href="player.html">
            <img src="Assets/comedy/family-switch.jpg" alt="Image 5"></a>
        </div>
        <div class="comedy">
            <a href="player.html">
            <img src="Assets/comedy/me-time.jpg" alt="Image 6"></a>
        </div>
        <div class="comedy">
            <a href="player.html">
            <img src="Assets/comedy/spenser.jpg" alt="Image 7"></a>
        </div>
        <div class="comedy">
            <a href="player.html">
            <img src="Assets/comedy/ted.jpg" alt="Image 8"></a>
        </div>
    </section>
    <section>
        <div class="animation">
            <a href="player.html">
            <img src="Assets/animation/alvin.jpg" alt="Image 1"></a>
        </div>
        <div class="animation">
            <a href="player.html">
            <img src="Assets/animation/cloudy.jpg" alt="Image 2"></a>
        </div>
        <div class="animation">
            <a href="player.html">
            <img src="Assets/animation/grinch.jpg" alt="Image 3"></a>
        </div>
        <div class="animation">
            <a href="player.html">
            <img src="Assets/animation/how-to-train-your-dragon.jpg" alt="Image 4"></a>
        </div>
        <div class="animation">
            <a href="player.html">
            <img src="Assets/animation/kung-fu-panda.jpg" alt="Image 5"></a>
        </div>
        <div class="animation">
            <a href="player.html">
            <img src="Assets/animation/madgascar.jpg" alt="Image 6"></a>
        </div>
        <div class="animation">
            <a href="player.html">
            <img src="Assets/animation/rick-and-morty.jpg" alt="Image 7"></a>
        </div>
        <div class="animation">
            <a href="player.html">
            <img src="Assets/animation/shrek.jpg" alt="Image 8"></a>
        </div>
    </section>
    <section>
        <div class="mostwatched">
            <a href="player.html">
            <img src="Assets/most-watched/scarface.jpg" alt="Image 1"></a>
        </div>
        <div class="mostwatched">
            <a href="player.html">
            <img src="Assets/most-watched/the-walking-dead.jpg" alt="Image 2"></a>
        </div>
        <div class="mostwatched">
            <a href="player.html">
            <img src="Assets/most-watched/spiderman.jpg" alt="Image 3"></a>
        </div>
        <div class="mostwatched">
            <a href="player.html">
            <img src="Assets/most-watched/fast1.jpg" alt="Image 4"></a>
        </div>
        <div class="mostwatched">
            <a href="player.html">
            <img src="Assets/most-watched/breaking-bad.jpg" alt="Image 5"></a>
        </div>
        <div class="mostwatched">
            <a href="player.html">
            <img src="Assets/most-watched/bohemian.jpg" alt="Image 6"></a>
        </div>
        <div class="mostwatched">
            <a href="player.html">
            <img src="Assets/most-watched/blacklist.jpg" alt="Image 7"></a>
        </div>
        <div class="mostwatched">
            <a href="player.html">
            <img src="Assets/most-watched/transporter.jpg" alt="Image 8"></a>
        </div>
    </section>
    <script src="script.js"></script>
</body>
</html>
