<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Movies</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" href="Assets/website-logo.png" type="image/x-icon">

</head>
<body>
    <!-- Header section -->
    <header>
        <h1 id="clickableText" class="clickable">NETFLIX</h1>
        <p>PRESS ON THE LOGO FOR COOL EFFECT!!</p>
    </header>
    <!-- Navigation section -->
    <nav>
        <a href="index.html">Home</a>
        <a href="movies.html">Movies</a>
        <a href="shows.html">TV Shows</a>
        <a href="about.html">About</a>
        <a href="login.html">Login</a>
    </nav>

       <!-- Media Player section -->
       <section>

        <video width="800" height="500" controls>
            <!-- Replace 'your-video.mp4' with the actual path to your video file -->
            <source src="your-video.mp4" type="video/mp4">
        </video>
        <script src="script.js"></script>
</body>
</html>
